<div class="course">

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">

    <mat-spinner></mat-spinner>

  </div>

  <mat-table
    class="lessons-table mat-elevation-z8"
    [dataSource]="dataSource"
    matSort matSortActive="seqNo"
    matSortDirection="asc"
    matSortDisableClear
  >

    <ng-container matColumnDef="seqNo">

      <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>

      <mat-cell *matCellDef="let lesson">{{lesson.seqNo}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="description">

      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>

      <mat-cell class="description-cell"
                *matCellDef="let lesson">{{lesson.description}}
      </mat-cell>

    </ng-container>

    <ng-container matColumnDef="duration">

      <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>

      <mat-cell class="duration-cell"
                *matCellDef="let lesson">{{lesson.duration}}
      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>


  <mat-paginator
    [length]="2"
    [pageSize]="3"
    [pageSizeOptions]="[3, 5, 10]"
  ></mat-paginator>

</div>






