<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/sample-one">Sample 1</a>
      <a mat-list-item routerLink="/sample-two">Sample 2</a>
      <a mat-list-item routerLink="/sample-three">Sample 3</a>
      <a mat-list-item routerLink="/sample-four">Sample 4</a>
      <a mat-list-item routerLink="/sample-five">Sample 5</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span routerLink="/" style="cursor: pointer">PGS software</span>
    </mat-toolbar>
    <!-- Add Content Here -->

    <section class="main-content col-12">
      <router-outlet></router-outlet>
    </section>

  </mat-sidenav-content>
</mat-sidenav-container>
