.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-drawer-content {
  min-height: 100vh;
}

.main-content {
  padding: 8px;
}
